@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    padding: 2vh 0 1vh 1vw;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    text-align:center;
    margin-bottom:2vh;
    padding-bottom: 3vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1vw;
}

nav ul li a {
    color: #fff;
    background-color: #007BFF;
    padding: 1vh 2vw;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1em;
}

nav ul li a:hover {
    background-color: #0056b3;
    cursor: pointer;
}

#annuaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
    padding: 2vh 2vw;
}

#divbtnTri {
    width: 100%;
    padding: 2vh 0 6vw 0.7vh;
}

#btnTrier {
    background-color:white;
    color: black;
    border-radius:1.2em;
    max-height:5vh;
    font-family: inherit;
    font-size: 1.6vw;
    white-space: normal;
}

.entree {
    background: linear-gradient(135deg, #bababa, #7a7a7a);
    color: #000;
    margin: 1vh;
    padding: 0.2vh 1vw 2.5vh 1vw;
    border-radius: 1em;
    width: 30vw;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.entree:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.3);
}

.entree h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.entree p {
    font-size: 1em;
    font-weight: 400;
}

.entree .detailsEntree {
    font-size: 1em;
    color: #007BFF;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    font-size: 0.8vw;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 2vh 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


