<header>
    <h1>SAE S4 Api</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for("home") }}">Accueil</a></li>
            <li><a href="{{ url_for("entrees") }}">Entrées</a></li>
            <li><a href="{{ url_for("entrees.create") }}">Nouvelle entrée</a></li>
        </ul>
    </nav>
</header>