<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAE S4</title>
    <link rel="stylesheet" href="{{ base_path() }}/{{ globals.css_dir }}/style.css">
    <script src="https://kit.fontawesome.com/84d125ec8a.js" crossorigin="anonymous"></script>
</head>
<body>

    {% include 'HeaderView.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>